body {
    background-color: white;
}

a {
    text-decoration: none;
    color: #555555;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: #555555;
}

.container h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.container p {
    font-size: 1.1em;
    line-height: 1.6;
}

.container ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container ul li {
    font-size: 1em;
    margin-bottom: 10px;
}

.bg-jade {
    background-color: #00A36C;
}

.text-white {
    color: white;
}

.jumbotron h1 {
    color: #fff;
}
.jumbotron img {
    border-radius: 5px;
}

.section > img {
    margin: 20px auto;
    width: 75%;
    display: block;
    text-align: center;
    border-radius: 5px;
}

#os-cards .card {
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.2s;
}

#os-cards .card:hover {
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.modal-container {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px;
    background-color: #00A36C55;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.modal-container .modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.modal-container .close-button {
    align-self: flex-end;
    cursor: pointer;
}

.modal-container .social-icons {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.modal-container .social-icons a{
    color: #555555;
    margin-right: 10px;
    font-size: 18px;
    display: block;
}

.modal-container .social-icons a:hover{
    color: #00A36C;
}

@media (max-width: 768px) {
    .modal-container {
        width: 200px;
    }
}

footer #list-os a {
    color: #ddd;
    display: block;
}

footer #list-os a:hover{
    color: #fff;
}